html {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

.header {
  display: flex;
  width: 100%;
  background-color: black;
  justify-content: center;
  height: 2.32rem;
}

.headerBox {
  display: flex;
  width: 960px;
  align-items: center;
  border: 4px solid purple;
}

#logoImg {
  height: 1.5rem;
  margin-left: .5rem;
}

#logoText {
  font-size: 1rem;
  padding: .66rem;
}

.mainBanner {
  display: flex;
  width: 100%;
  height: 25rem;
  background-image: url(../images/moto.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
}

.mainBannerBox {
  display: flex;
  width: 960px;
  border: 4px solid purple;
}

.mainBannerTextBox {
  width: 25rem;
  height: 11rem;
  background-color: black;
  border: 4px solid purple;
}

.mainBannerText1 {
  font-weight: bold;
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: .25rem;
  margin-left: 3rem;
}

.mainBannerText2 {
  font-weight: bold;
  font-size: 2rem;
  margin-left: 3rem;
}

nav {
  display: flex;
  background-color: firebrick;
  width: 100%;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
}

ul {
  display: inline-flex;
  width: 960px;
  justify-content: space-between;
  align-items: center;
}

ul li {

}

.grid {
  display: flex;
  width: 100%;
  justify-content: center;
}

.gridBox {
  display: flex;
  width: 960px;
  flex-direction: column;
  border: 4px solid purple;
}

.productGrid {
  display: flex;
  width: 960px;
  justify-content: space-between;
  border: 4px solid purple;
}

.explPen {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
}

.explPenImg {
  height: 9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.explPenTitle {
  padding: .5rem;
  background-color: black;
  text-align: center;
}
